body {
	overflow: hidden;
	margin: 0;
}

.container {
	min-height: 100vh;
	min-width: 100vh;
	position: relative;
}

.sky {
	position: absolute;
	bottom: 50%;
	height: 50%;
	width: 100%;
	background-color: #58FAF4;
}

.summerSkyAnimation {
	animation: skyColorSummer 48s infinite;
}

.winterSkyAnimation {
	animation: skyColorWinter 48s infinite;
}

.rainSkyAnimation {
	animation: skyColorRain 48s infinite;
}

.snowSkyAnimation {
	animation: skyColorSnow 48s infinite;
}

.moon {
	position: absolute;
	background: url(../Img/moon.png);
	background-repeat: no-repeat;
	background-size: contain;
	height: 150px;
	width: 150px;	
	top: 55%;
	right: -15%;
	z-index: 1;
}

.summerMoonAnimation {
	animation: moonMovementSummer 48s infinite;
}

.winterMoonAnimation {
	animation: moonMovementWinter 48s infinite;
}

.sun {
	position: absolute;
	background: url(../Img/sun.png);
	background-repeat: no-repeat;
	background-size: contain;
	height: 200px;
	width: 200px;
	right: 0;	
	top: 5%;
	z-index: 1;
}

.summerSunAnimation {
	animation: sunMovementSummer 48s infinite;
}

.winterSunAnimation {
	animation: sunMovementWinter 48s infinite;
}

.normalCloudsRain, .rainDropHidden, .snowFlakeHidden {
	opacity: 0;
}

.normalClouds {
	transition: all 5s;
}

.normalCloud {
	position: absolute;
	background: url(../Img/normalCloud.png);
	background-repeat: no-repeat;
	background-size: contain;
	height: 75px;
	width: 150px;
	top: 0;
	left: 0;
	z-index: 2;
	animation: cloudMovement 48s linear infinite;
}

.cloud2, .cloud4, .cloud6 {
	transform: scaleX(-1);
}

.cloud1, .cloud4 {
	margin-top: 11%;
	animation-duration: 35s;
}

.cloud2 {
	margin-top: 5%;
	animation-duration: 45s;
}

.cloud3, .cloud6 {
	animation-duration: 25s;
	margin-top: 17%;
}

.cloud5 {
	animation-duration: 40s;
	margin-top: 0;
}

.cloud1 {
	animation-delay: -10s;
}

.cloud2 {
	animation-delay: -20s;
}

.cloud3 {
	animation-delay: -15s;
}

.cloud4 {
	animation-delay: -2s;
}

.cloud5 {
	animation-delay: -30s;
}

.cloud6 {
	animation-delay: -5s;
}

.rainClouds {
	opacity: 0;
	position: absolute;
	top: -10%;
	left: -120%;
	width: 110%;
	z-index: 2;
	animation: rainCloudMovement 48s infinite;
}

.rainCloudsAppear, .rainDropAppear, .snowFlakeAppear {
	opacity: 1; 
}

.rainCloud {
	background: url(../Img/rainyCloud.png);
	background-repeat: space;
	background-size: contain; 
	height: 120px;
	width: 100%;
	margin-top: -2%;
}

.cloud8, .cloud10, .cloud12, .cloud14 {
	margin-top: -7%;
	margin-left: 5%;
}

.cloud9, .cloud11, .cloud13 {
	margin-top: -5%;
}

.rain, .snow {
	position: absolute;
	left: 0;
	top: -200%;
	width: 100%;
	z-index: 1;
	animation: rainMovement 48s linear infinite;
}

.rainDrop {
	background: url(../Img/rainDrop.png);
	background-repeat: space;
	background-size: contain; 
	height: 70px;
	width: 110%;	
}

.water2, .water4, .water6, .water8, .water10, .snow2, .snow4, .snow6, .snow8, .snow10, .snow12 {
	margin-left: -2%;
}

.snowFlake {
	background: url(../Img/snowFlake.png);
	background-repeat: space;
	background-size: contain; 
	height: 50px;
	width: 120%;
}

.stars {
	opacity: 1;
	position: absolute;
	left: 10%;
	top: 5%;
	display: flex;
	justify-content: center;
}

.star1, .star3, .star5 {
	background: url(../Img/star.png);
}

.star2, .star4, .star6 {
	background: url(../Img/star2.png);
}

.star1 {
	margin-top: 10%;
}

.star2 {
	margin-top: 5%;
}

.star3 {
	margin-top: 15%;
}

.star4 {
	margin-top: 10%;
}

.star5 {
	margin-top: 3%;
}

.star6 {
	margin-top: 12%;
}

.star {
	margin-left: 70px;
	margin-right: 70px;
	background-repeat: no-repeat;
	background-size: contain;
	height: 50px;
	width: 50px;
	z-index: 0;
}

.summerStars {
	animation: starsOpacitySummer 48s infinite;
}

.winterStars {
	animation: starsOpacityWinter 48s infinite;
}

